@using EntityLayer.Concrete
@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Portfolio</h4>
            <p class="card-description">
                Add class <code>.table-striped</code> for striped rows.
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th></th>
                            <th>Delete</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            // Progress bar sınıfını belirleme
                            string progressClass;

                            if (item.Value <= 25)
                            {
                                progressClass = "bg-danger"; // Yeşil
                            }
                            else if (item.Value <= 50)
                            {
                                progressClass = "bg-info"; // Sarı
                            }
                            else if (item.Value <= 75)
                            {
                                progressClass = "bg-warning"; // Mavi
                            }
                            else
                            {
                                progressClass = "bg-success"; // Kırmızı
                            }

                            <tr>
                                <td class="py-1">
                                    <img src="@item.Platform" alt="image" class="avatar rounded-circle" />
                                </td>
                                <td>@item.Price</td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i>
                                        <span class="status">@item.Status</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar @progressClass" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                                <td>@Html.ActionLink("Delete", "DeletePortfolio", new { id = item.PortfolioID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Are you sure you would like to delete it?')" })</td>
                                <td><a href="/Portfolio/EditPortfolio/@item.PortfolioID" class="btn btn-outline-info">Update</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary mt-4" href="/Portfolio/AddPortfolio/">Add New Project Here!</a>
        </div>
    </div>
</div>
