@using EntityLayer.Concrete
@model List<Testimonial>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row ">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Order Status</h4>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>

								<th> # </th>
								<th> Name Surname </th>
								<th> Title </th>
								<th> Company </th>
								<th> Coment </th>
								<th> Delete </th>
								<th> Edit </th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{

								<tr>
									<td>
										<img src="@item.ImageUrl" alt="image" />
									</td>
									<td> @item.ClientName </td>
									<td> @item.Title </td>
									<td> @item.Company </td>
									<td> @item.Comment </td>
									<td> <a class="btn btn-outline-danger" href="/Testimonial/Delete/@item.TestimonialID">Delete</a> </td>
									<td> <a class="btn btn-outline-info" href="/Testimonial/EditTestimonial/@item.TestimonialID">Edit</a> </td>
								</tr>
							}

						</tbody>
					</table>
					<a class="btn btn-outline-success" href="/Testimonial/AddTestimonial/">Add New Refference</a>
				</div>
			</div>
		</div>
	</div>
</div>